
dataset/masks/0486052bb_270.png
*.png
*.record-00011-of-00020
*.tiff
*.csv
*.json
dataset/record/train.record-00000-of-00020
dataset/record/train.record-00001-of-00020
dataset/record/train.record-00002-of-00020
dataset/record/train.record-00003-of-00020
dataset/record/train.record-00004-of-00020
dataset/record/train.record-00005-of-00020
dataset/record/train.record-00006-of-00020
dataset/record/train.record-00007-of-00020
dataset/record/train.record-00008-of-00020
dataset/record/train.record-00009-of-00020
dataset/record/train.record-00010-of-00020
dataset/record/train.record-00012-of-00020
dataset/record/train.record-00013-of-00020
dataset/record/train.record-00014-of-00020
dataset/record/train.record-00015-of-00020
dataset/record/train.record-00016-of-00020
dataset/record/train.record-00017-of-00020
dataset/record/train.record-00018-of-00020
dataset/record/train.record-00019-of-00020
dataset/record/val.record-00000-of-00001
dataset/val.txt
dataset/utils.py
dataset/train.txt
