# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\deeplearning\Hubmap_comp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
